
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Set core body defaults

It’s useful for the <body> to fill the viewport, even when empty,
so I do that by setting the min-height to 100vh.
I also like smooth anchor scrolling, so I set scroll-behavior: smooth, too.

I only set two text styles.
I set the line-height to be 1.5 because the default 1.2 just isn’t big enough
to have accessible, readable text.
I also set text-rendering to optimizeSpeed.
Using optimizeLegibility makes your text look nicer,
but can have serious performance issues such as 30 second loading delays,
so I try to avoid that now.
I do sometimes add it to sections of microcopy though.
*/
body {
    height: 100vh; /* fixed height */
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

#app {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 11fr;
}

header {
    display: flex;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 24fr 1fr;
}

/*

<box-icon
    type="regular|solid|logo"
    name="adjust|alarms|etc...."
    color="blue|red|etc..."
    size="xs|sm|md|lg|cssSize"
    rotate="90|180|270"
    flip="horizontal|vertical"
    border="square|circle"
    animation="spin|tada|etc..."
    animation="spin|tada|etc..."
    pull = "left|right"
></box-icon>


*/


